html, body { margin: 0px; padding: 0px; line-height: 1.5; font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; font-size: .975em; }

.site { display: flex; flex-direction: column; }

	.site-head { display: flex; flex-direction: row; justify-content: space-between; align-items: center; border-bottom: 1px #E0E2E5 solid; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); height: 60px; padding: 10px 0% 10px; }
	
		.site-head-logo { padding-left: 10px; }
		
			.logo-size { width: 224px; height: 53px; }
		
		.site-head-menu { font-size: 0.995em; display: block; padding: 10px; overflow: hidden; }
		
		.site-head-search { padding-right: 10px; }
		
			.site-head-search-box {}
			
			.search-prompt {}
			
			.search-results {}
	
		.site-ad { background: url("../assets/site/architectural-design-architecture-building-462335.jpg") no-repeat center; background-size: cover; height: 600px; position: relative; border-bottom: 1px #E0E2E5 solid; box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); }
		
		.site-ad-text { text-align: left; position: absolute; top: 50%; left: 75%; transform: translate(-25%, -50%); color: #323232; line-height: 1.25; letter-spacing: -0.05em; font-weight: 600; font-size: 1.65rem; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }
		
			.site-ad-text-sub { font-weight: 400; font-size: 0.685em;}
		
		.site-body { display: flex; flex-direction: column; padding-bottom: 20px; background: #F7F7F7; }

		.site-body-text { padding-top: 0px; padding-bottom: 20px; padding-left: 50px; padding-right: 50px; text-align: center; }

		.site-body-boxes { display: flex; flex-direction: row; justify-content: space-between; padding-top: 20px; padding-bottom: 20px; padding-left: 10%; padding-right: 10%; }

			.site-body-box-basic { display: flex; flex-direction: column; border: 1px solid; width: 40%; height: 400px; }

				.box-basic-top { background: #15A8CA; height: 20px; }

				.box-basic-bottom { font-weight: bold; text-align: center; }

			.site-body-box-sentinel { display: flex; flex-direction: column; border: 1px solid; width: 40%; height: 400px; }

				.box-sentinel-top { background: #86AF2F; height: 20px; }

				.box-sentinel-bottom { font-weight: bold; text-align: center; }

		.site-body-more-text { text-align: center; }

		.site-body-info { display: flex; flex-direction: row; align-self: center; justify-content: flex-end; border: 1px solid #323232; background: #FFFFFF; width: 80%; height: 300px; padding: 5px; font-size: 0.920em; }

			.site-body-info-description { width: 50%; padding-right: 50px; padding-left: 20px;}
			.site-body-info-contact { width: 50%; }
			.site-body-info-social { padding-right: 20px;}

	.site-foot { display: flex; flex-direction: column; padding: 10px; }

		.site-foot-info { display: flex; flex-direction: row; justify-content: space-between; padding-left: 10%; padding-right: 10%; font-size: 1em }

			.site-foot-info-menu1 {}

			.site-foot-info-menu2 {}

			.site-foot-info-menu3 {}

		.site-foot-copyright { font-size: 0.88em }
