@media (max-width: 749px) {
	.full_page {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}
	
	.box_head {
		grid-auto-flow: column;
		grid-template-columns: none none none;
		grid-template-rows: auto auto auto;
		grid-gap: 1em;
	}
	
	.box_head_links {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		align-self: center;
		justify-content: space-around;	
	}
	
	.box_head_links_spacer {
		width: 0em;
	}
}