@media (min-width: 750px) {
	.full_page {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}
	
	.box_head {
		grid-auto-flow: row;
		grid-template-columns: 0.5em 15em auto;
		grid-template-rows: none none none;
	}
	
	.box_head_links {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		align-self: center;
		justify-content: space-around;	
	}
	
	.box_head_links_spacer {
		width: 5em;
	}
	
	.box_head_search {
		align-self: center;
		padding-left: 2em;
	}
}