html, body {
	font-size: calc(0.62em + 1vw);
	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0em;
}

.full_page {height: 100%;}

.box_head, .box_intro, .box_body, .box_foot, .box_head_logo, .box_head_links {width: 100%;}

.box_head {
	display: -webkit-grid;
	display: grid;
	background-color: #1d3775;
	color: #ecf5e4;
	padding-top: 0.5em;
}

.box_head a:link {color: #ecf5e4; text-decoration: none;}
.box_head a:visited {color: #ecf5e4; text-decoration: none;}
.box_head a:hover {color: #6dc065; text-decoration: none;}
.box_head a:active {color: #ecf5e4; text-decoration: underline;}

.box_intro, .box_foot {background-color: #1d3775; color: #ecf5e4;}

.box_body {background-color: #fcfcfc; color: #323232; flex: 2;}

.box_head_links_about, .box_head_links_contact, .box_head_links_articles {
	border: 1px solid red;
	width: 3em;
}